Smart_Security_Industries/Security_Industries.json
[{"id":"5dfd6cef.361e44","type":"tab","label":"Smart Security for Industries","disabled":false,"info":""},{"id":"dc4741a0.1a94c","type":"ibmiot in","z":"5dfd6cef.361e44","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["b8bbafb1.fe417","e40ff901.5edb58","6477714.7e97d9"]]},{"id":"52942e2.86af9d","type":"debug","z":"5dfd6cef.361e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"5ad22517.6f852c","type":"function","z":"5dfd6cef.361e44","name":"","func":"var i=msg.payload._id\nvar r=msg.payload._rev\nmsg.payload={\n    \"_id\":i,\n    \"_rev\":r\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":340,"wires":[["a5551f2a.d7782"]]},{"id":"b8bbafb1.fe417","type":"function","z":"5dfd6cef.361e44","name":"","func":"var i = msg.payload.name\nglobal.set('a',i)\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,19);\nc=date+\" \"+time\nmsg.payload={\n    \"_id\":i,\n    \"time\":c\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["52942e2.86af9d","85d11c56.6875"]]},{"id":"b647db44.30b868","type":"cloudant out","z":"5dfd6cef.361e44","name":"","cloudant":"","database":"accessdata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":530,"y":220,"wires":[]},{"id":"c0cb5366.e05c8","type":"cloudant in","z":"5dfd6cef.361e44","name":"","cloudant":"","database":"tempdata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":460,"y":320,"wires":[["5ad22517.6f852c"]]},{"id":"4e23ad7d.a668f4","type":"trigger","z":"5dfd6cef.361e44","name":"","op1":"","op2":"b","op1type":"nul","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":400,"wires":[["8dbca5ac.02e208"]]},{"id":"85d11c56.6875","type":"cloudant out","z":"5dfd6cef.361e44","name":"","cloudant":"","database":"tempdata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":520,"y":180,"wires":[]},{"id":"e40ff901.5edb58","type":"function","z":"5dfd6cef.361e44","name":"","func":"var i = msg.payload.name\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,19);\nc=date+\" \"+time\nmsg.payload={\n    \"_id\":c,\n    \"time\":i\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["b647db44.30b868"]]},{"id":"a5551f2a.d7782","type":"cloudant out","z":"5dfd6cef.361e44","name":"","cloudant":"","database":"tempdata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"delete","x":720,"y":280,"wires":[]},{"id":"2d1d88a4.78ab98","type":"debug","z":"5dfd6cef.361e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"b3d872ff.05dd1","type":"trigger","z":"5dfd6cef.361e44","name":"","op1":"","op2":"a","op1type":"nul","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":360,"wires":[["8dbca5ac.02e208"]]},{"id":"a3dae03a.f8fcc","type":"switch","z":"5dfd6cef.361e44","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12345","vt":"str"},{"t":"eq","v":"67890","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":380,"wires":[["b3d872ff.05dd1"],["4e23ad7d.a668f4"]]},{"id":"d2afe790.c30da8","type":"ibmiot out","z":"5dfd6cef.361e44","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":420,"wires":[]},{"id":"8dbca5ac.02e208","type":"function","z":"5dfd6cef.361e44","name":"","func":"var t=msg.payload\nif(t==\"a\"){\n    msg.payload=\"12345\"\n}\nelse if(t==\"b\"){\n    msg.payload=\"67890\"\n}\nglobal.set('a',\"\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["d2afe790.c30da8","2d1d88a4.78ab98","c0cb5366.e05c8"]]},{"id":"cdaeea6.738dd18","type":"inject","z":"5dfd6cef.361e44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"global","x":110,"y":300,"wires":[["a3dae03a.f8fcc"]]},{"id":"f3dbb35a.50dee","type":"change","z":"5dfd6cef.361e44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[[]]},{"id":"6477714.7e97d9","type":"function","z":"5dfd6cef.361e44","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":260,"wires":[[]]},{"id":"3cf31d49.482212","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]