Medicine_Reminder/Medicine_reminder.json
[{"id":"184f964d.dd02ea","type":"tab","label":"Medicine Reminder","disabled":true,"info":""},{"id":"78d5bb08.6c4614","type":"function","z":"184f964d.dd02ea","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar time = n.slice(11,16);\nmsg.payload=time\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["6baf3a9b.6f7134"]]},{"id":"5e1702d1.2b94bc","type":"inject","z":"184f964d.dd02ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"Friday\"}","payloadType":"json","x":170,"y":120,"wires":[["a2e5a32f.181da"]]},{"id":"6baf3a9b.6f7134","type":"debug","z":"184f964d.dd02ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"a2e5a32f.181da","type":"cloudant in","z":"184f964d.dd02ea","name":"","cloudant":"","database":"medicine","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":300,"y":160,"wires":[["78d5bb08.6c4614","6baf3a9b.6f7134"]]},{"id":"9f3256ad.5224c8","type":"cloudant out","z":"184f964d.dd02ea","name":"","cloudant":"","database":"medicinedata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":390,"y":260,"wires":[]},{"id":"25ef5831.4b7798","type":"inject","z":"184f964d.dd02ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"saturday\",\"time\":\"1:46\",\"medicine\":\"paracetemol\"}","payloadType":"json","x":170,"y":260,"wires":[["9f3256ad.5224c8"]]},{"id":"f7da2497.25cb88","type":"ui_form","z":"184f964d.dd02ea","name":"","label":"","group":"e07d93f4.44b88","order":11,"width":7,"height":4,"options":[{"label":"Enter the Medicine name","value":"name","type":"text","required":true,"rows":null},{"label":"Time (HH:MM) 24H-Format","value":"time","type":"text","required":true,"rows":null},{"label":"Day","value":"day","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","day":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":470,"y":460,"wires":[["376f59f8.97d056","75c79424.a8e68c"]]},{"id":"376f59f8.97d056","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.day,\n    \"name\":msg.payload.name,\n    \"time\":msg.payload.time\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["b67936ed.e1de78","d83c0d1a.bb29f"]]},{"id":"b67936ed.e1de78","type":"cloudant out","z":"184f964d.dd02ea","name":"","cloudant":"","database":"medicine","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":560,"y":340,"wires":[]},{"id":"d83c0d1a.bb29f","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload = {\n    \"day\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":400,"wires":[["6f7ff024.44099"]]},{"id":"6f7ff024.44099","type":"delay","z":"184f964d.dd02ea","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":460,"wires":[["f7da2497.25cb88"]]},{"id":"75c79424.a8e68c","type":"debug","z":"184f964d.dd02ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":460,"wires":[]},{"id":"e07d93f4.44b88","type":"ui_group","name":"Web Dashboard","tab":"fd14b183.ed0c1","order":2,"disp":true,"width":"21","collapse":false},{"id":"fd14b183.ed0c1","type":"ui_tab","name":"Cold Storage Monitoring","icon":"dashboard","order":1,"disabled":false,"hidden":false}]