Personnal_Assistance_IBM_Chatbot/node_red_flow.json
[{"id":"b6670c34.a0c0a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7531ddeb.fc5984","type":"watson-speech-to-text","z":"b6670c34.a0c0a","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"BpYxNHQgU6XlJ2PoaT0vm095q9S4EOD0aBqtGW_QmbZt","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/f432435e-aa9a-4e0b-b81d-ba530b220105","x":360,"y":220,"wires":[["4f2f5f95.8a9ac","8bcaca7d.8b11c8"]]},{"id":"4fdf7dc2.f49d84","type":"watson-text-to-speech","z":"b6670c34.a0c0a","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/mp3","password":"","apikey":"bBo2wrwuqG_fT0E64at2bTbvWjygLD0RZ8XBzEXXH1Jw","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/1aec2a1f-7618-4dff-b676-06c4434675e8","x":660,"y":320,"wires":[["88127967.3cb0e8"]]},{"id":"c11bfcd1.1e4f2","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"set the reminder","payloadType":"str","x":120,"y":140,"wires":[["4f2f5f95.8a9ac"]]},{"id":"8bcaca7d.8b11c8","type":"debug","z":"b6670c34.a0c0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"4f2f5f95.8a9ac","type":"watson-assistant-v2","z":"b6670c34.a0c0a","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/2bffe0dd-8b65-43b4-b92d-b4ae2c6aad9b","assistant_id":"f13c42f6-8a53-4556-96c8-417e064f4951","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":310,"y":160,"wires":[["b33262d8.7a1a5"]]},{"id":"b33262d8.7a1a5","type":"function","z":"b6670c34.a0c0a","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["a4a405eb.df1bc8","4a1acdf7.1344b4"]]},{"id":"a4a405eb.df1bc8","type":"switch","z":"b6670c34.a0c0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"eq","v":"fanon","vt":"str"},{"t":"eq","v":"fanoff","vt":"str"},{"t":"eq","v":"divya","vt":"str"},{"t":"eq","v":"sandeep","vt":"str"},{"t":"eq","v":"durga prasad","vt":"str"},{"t":"eq","v":"gnaneshwar","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":290,"y":340,"wires":[["ebccfcce.b5254"],["d6b08d31.705f6"],["d0829c7.3b3f36","dd8e4780.e75de8"],["d0829c7.3b3f36","dd8e4780.e75de8"],["d0829c7.3b3f36","dd8e4780.e75de8"],["d0829c7.3b3f36","dd8e4780.e75de8"],["82b27b99.3a5598"],["82b27b99.3a5598"],["82b27b99.3a5598"],["82b27b99.3a5598"],[]]},{"id":"ebccfcce.b5254","type":"function","z":"b6670c34.a0c0a","name":"","func":"msg.payload=\"Todays temperature is \" + global.get('temp') + \" Degree Celsius\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["8bcaca7d.8b11c8","4fdf7dc2.f49d84","bc19b8c0.415928"]]},{"id":"bc19b8c0.415928","type":"ui_text","z":"b6670c34.a0c0a","group":"c68934fb.afa148","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":200,"wires":[]},{"id":"88127967.3cb0e8","type":"ui_audio","z":"b6670c34.a0c0a","name":"","group":"c68934fb.afa148","voice":"Google US English","always":"","x":680,"y":240,"wires":[]},{"id":"3d0a2ac4.3d0f96","type":"ibmiot in","z":"b6670c34.a0c0a","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":40,"wires":[["3a5073ff.934efc","34f0dd6f.630dc2"]]},{"id":"3a5073ff.934efc","type":"function","z":"b6670c34.a0c0a","name":"","func":"global.set(\"temp\",msg.payload.temp)\nglobal.set(\"humidity\",msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":40,"wires":[["34f0dd6f.630dc2"]]},{"id":"34f0dd6f.630dc2","type":"debug","z":"b6670c34.a0c0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"d0829c7.3b3f36","type":"ibmiot out","z":"b6670c34.a0c0a","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":340,"wires":[]},{"id":"d679b0e7.81a7a","type":"debug","z":"b6670c34.a0c0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"da3336e0.6ec6f8","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Today","payloadType":"str","x":90,"y":180,"wires":[["4f2f5f95.8a9ac"]]},{"id":"9944bb59.4d3038","type":"cloudant in","z":"b6670c34.a0c0a","name":"","cloudant":"","database":"sms","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"name","x":310,"y":480,"wires":[["ed08ea12.4d4c08"]]},{"id":"408de339.85138c","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"gnaneshwar\"}","payloadType":"json","x":130,"y":480,"wires":[["9944bb59.4d3038"]]},{"id":"82b27b99.3a5598","type":"function","z":"b6670c34.a0c0a","name":"","func":"msg.payload={\"_id\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":420,"wires":[["9944bb59.4d3038"]]},{"id":"ed08ea12.4d4c08","type":"function","z":"b6670c34.a0c0a","name":"","func":"msg.payload=msg.payload.number\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":480,"wires":[["d499293.368b4d8","d679b0e7.81a7a"]]},{"id":"d499293.368b4d8","type":"http request","z":"b6670c34.a0c0a","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"https://www.fast2sms.com/dev/bulkV2?authorization=EBLoaFj5m82sRw6JeXrOZdH4K0ShD1ikzPvAnQVcfuY9GUtCbI3eRdzUfy5r7WaZlvwHhIBK9nXsqOPg&route=q&message=Alert%20Alert!%20message%20from%20device&language=english&flash=0&numbers={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":480,"wires":[[]]},{"id":"e7cd287d.b1c978","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"four thirty pm","payloadType":"str","x":110,"y":220,"wires":[["4f2f5f95.8a9ac"]]},{"id":"beea9b82.f10a08","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"payload","payloadType":"msg","x":170,"y":520,"wires":[["5c986c57.152344"]]},{"id":"5cec0220.53877c","type":"debug","z":"b6670c34.a0c0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":520,"wires":[]},{"id":"5c986c57.152344","type":"function","z":"b6670c34.a0c0a","name":"","func":"var r=global.get('val')\nvar t=global.get('topic')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,16);\nc=date+\" \"+time\nif(r==c){\n    msg.payload=\"you have a reminder now about\"+\" \"+t\n}\nelse{\n    msg.payload=null\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["5cec0220.53877c","4fdf7dc2.f49d84"]]},{"id":"4a1acdf7.1344b4","type":"function","z":"b6670c34.a0c0a","name":"","func":"check=msg.payload.slice(0,4)\nif(check==\"time\"){\n    date=msg.payload.slice(5,15)\n    time=msg.payload.slice(16,21)\n    val=date+\" \"+time\n    global.set('val',val)\n    topic=msg.payload.slice(25,)\n    global.set('topic',topic)\n    msg.payload=\"reminder is set on \"+date+\" at \"+time+\" about \"+topic\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["8bcaca7d.8b11c8","4fdf7dc2.f49d84"]]},{"id":"ba1cddf0.e4925","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"doctor appointment","payloadType":"str","x":130,"y":260,"wires":[["4f2f5f95.8a9ac"]]},{"id":"fe661e2d.ade5e","type":"ui_microphone","z":"b6670c34.a0c0a","name":"","group":"c68934fb.afa148","order":7,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":110,"y":300,"wires":[["7531ddeb.fc5984"]]},{"id":"f9e12ea1.75177","type":"ui_text_input","z":"b6670c34.a0c0a","name":"","label":"Enter the text to send commands","tooltip":"","group":"c68934fb.afa148","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":180,"y":100,"wires":[["4f2f5f95.8a9ac"]]},{"id":"2eebd013.60d14","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"what is the humidity","payloadType":"str","x":130,"y":340,"wires":[["4f2f5f95.8a9ac"]]},{"id":"a6d34760.ecc0d8","type":"inject","z":"b6670c34.a0c0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Turn off fan","payloadType":"str","x":110,"y":380,"wires":[["4f2f5f95.8a9ac"]]},{"id":"d6b08d31.705f6","type":"function","z":"b6670c34.a0c0a","name":"","func":"msg.payload=\"Todays humidity is \" + global.get('humidity') + \" Percentage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["4fdf7dc2.f49d84","bc19b8c0.415928","8bcaca7d.8b11c8"]]},{"id":"dd8e4780.e75de8","type":"function","z":"b6670c34.a0c0a","name":"","func":"var va=msg.payload;\nif(va==\"lighton\"){\n    msg.payload=\"Light is Switched on\"\n}\nelse if(va==\"lightoff\"){\n    msg.payload=\"Light is Switched off\"\n}\nelse if(va==\"fanon\"){\n    msg.payload=\"Fan is Switched on\"\n}\nelse if(va==\"fanoff\"){\n    msg.payload=\"Fan is Switched off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["4fdf7dc2.f49d84"]]},{"id":"c68934fb.afa148","type":"ui_group","name":"UI","tab":"5e6865c0.ffb1cc","order":1,"disp":true,"width":9,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"hj5fmy.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5e6865c0.ffb1cc","type":"ui_tab","name":"Smart Home Assistant","icon":"dashboard","disabled":false,"hidden":false}]
