Smart_Poultry_farm/Smart_poultry_flow.json
[{"id":"a605b7fd.060928","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"f1a6773b.b12ab8","type":"ibmiot in","z":"a605b7fd.060928","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":180,"wires":[["82edcf44.93dbb","48092154.bf0bb","e6f166cd.fa6428","12f856ee.b6a249"]]},{"id":"4c99c958.5a80c8","type":"debug","z":"a605b7fd.060928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"48092154.bf0bb","type":"function","z":"a605b7fd.060928","name":"Water","func":"msg.payload=msg.payload.water\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["4c99c958.5a80c8","7e2937f3.32c468","9057786d.2af2e8"]]},{"id":"82edcf44.93dbb","type":"function","z":"a605b7fd.060928","name":"Ammonia","func":"msg.payload=msg.payload.ammonia\nglobal.set('a',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["4c99c958.5a80c8","7666f724.1ccbd8","298f7d37.058e52"]]},{"id":"e6f166cd.fa6428","type":"function","z":"a605b7fd.060928","name":"Temperature","func":"msg.payload=msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["4c99c958.5a80c8","673d2757.153548","c0bff2f3.0e96a"]]},{"id":"12f856ee.b6a249","type":"function","z":"a605b7fd.060928","name":"Humidity","func":"msg.payload=msg.payload.humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["4c99c958.5a80c8","43b0313e.8e3f4","3645fbbf.b3bba4"]]},{"id":"7e2937f3.32c468","type":"switch","z":"a605b7fd.060928","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["e337d1c3.7962"]]},{"id":"7666f724.1ccbd8","type":"switch","z":"a605b7fd.060928","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"512","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":340,"wires":[["939aced7.37a5d"]]},{"id":"673d2757.153548","type":"switch","z":"a605b7fd.060928","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":380,"wires":[["aa31476b.413a78"]]},{"id":"43b0313e.8e3f4","type":"switch","z":"a605b7fd.060928","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":420,"wires":[["422613c8.2c69ec"]]},{"id":"939aced7.37a5d","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload=\"Ammonia gas is High\"\nmsg.topic=\"message from Poultry farm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["600d2c32.e15f34","13c5feb4.f25521","f3424be4.702cf8"]]},{"id":"aa31476b.413a78","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload=\"Temperature is High\"\nmsg.topic=\"message from Poultry farm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[["600d2c32.e15f34","13c5feb4.f25521","f3424be4.702cf8"]]},{"id":"422613c8.2c69ec","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload=\"Humidity is High\"\nmsg.topic=\"message from Poultry farm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["600d2c32.e15f34","13c5feb4.f25521","f3424be4.702cf8"]]},{"id":"e337d1c3.7962","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload=\"Fill water in the Tank\"\nmsg.topic=\"message from Poultry farm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["600d2c32.e15f34","13c5feb4.f25521","f3424be4.702cf8"]]},{"id":"600d2c32.e15f34","type":"http request","z":"a605b7fd.060928","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":650,"y":380,"wires":[[]]},{"id":"13c5feb4.f25521","type":"debug","z":"a605b7fd.060928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"b4312ca9.4cb95","type":"http in","z":"a605b7fd.060928","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["98781f11.0c069"]]},{"id":"7fa9b50e.59545c","type":"http response","z":"a605b7fd.060928","name":"","statusCode":"","headers":{},"x":520,"y":480,"wires":[]},{"id":"98781f11.0c069","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload={\n    \"water\":global.get('w'),\n    \"ammonia\":global.get('a'),\n    \"temperature\":global.get('t'),\n    \"humidity\":global.get('h')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":480,"wires":[["7fa9b50e.59545c"]]},{"id":"a3c1cebe.13ee3","type":"ibmiot out","z":"a605b7fd.060928","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":520,"wires":[]},{"id":"5e59cc63.eaa464","type":"http in","z":"a605b7fd.060928","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":680,"wires":[["cdbf7e18.30b74"]]},{"id":"9819ea15.6030c8","type":"http response","z":"a605b7fd.060928","name":"","statusCode":"","headers":{},"x":530,"y":680,"wires":[]},{"id":"cdbf7e18.30b74","type":"function","z":"a605b7fd.060928","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":680,"wires":[["9819ea15.6030c8","a3c1cebe.13ee3","b4d5ccd5.60e95"]]},{"id":"5784e04f.a39ed","type":"ui_button","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":51,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":290,"y":520,"wires":[["a3c1cebe.13ee3"]]},{"id":"d008af99.ebb3d","type":"ui_button","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":51,"width":0,"height":0,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":290,"y":560,"wires":[["a3c1cebe.13ee3"]]},{"id":"de47400e.78f9d","type":"ui_button","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":51,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":290,"y":600,"wires":[["a3c1cebe.13ee3"]]},{"id":"96a93127.082f5","type":"ui_button","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":51,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoroff","payloadType":"str","topic":"","x":300,"y":640,"wires":[["a3c1cebe.13ee3"]]},{"id":"b4d5ccd5.60e95","type":"debug","z":"a605b7fd.060928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":620,"wires":[]},{"id":"9057786d.2af2e8","type":"ui_gauge","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":55,"width":0,"height":0,"gtype":"gage","title":"Water","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":120,"wires":[]},{"id":"298f7d37.058e52","type":"ui_gauge","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":56,"width":0,"height":0,"gtype":"gage","title":"Ammonia Gas","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":160,"wires":[]},{"id":"c0bff2f3.0e96a","type":"ui_chart","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":57,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"125","removeOlder":"20","removeOlderPoints":"15","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":200,"wires":[[]]},{"id":"3645fbbf.b3bba4","type":"ui_chart","z":"a605b7fd.060928","name":"","group":"c68934fb.afa148","order":58,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":240,"wires":[[]]},{"id":"f3424be4.702cf8","type":"e-mail","z":"a605b7fd.060928","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"divya@thesmartbridge.com","dname":"","x":700,"y":420,"wires":[]},{"id":"3cf31d49.482212","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c68934fb.afa148","type":"ui_group","name":"Data","tab":"5e6865c0.ffb1cc","order":1,"disp":true,"width":"20","collapse":false},{"id":"5e6865c0.ffb1cc","type":"ui_tab","name":"Smart Poultry","icon":"dashboard","disabled":false,"hidden":false}]